* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.body {
    font-family: 'Raleway', sans-serif;
}

/*----------HEADER-----------*/

header>.navbar {
    padding: 15px 0;
    border-bottom: 2px solid #0087bd;
}

header .navbar .container>a>h1 {
    display: inline;
    font-weight: 700;
    color: #000;
    font-size: 22px;
}

header .collapse>ul>li {
    margin-left: 20px;
}

header .collapse>ul>li>a {
    color: #777;
    font-weight: 600;
    font-size: 14px;
}

header>.navbar>.container>.collapse>ul>li>a:hover {
    color: #0087bd;
}

header>.carousel>.carousel-inner>.principal {
    position: relative;
}

header>.carousel>.carousel-inner>.principal>.botones {
    position: absolute;
    display: flex;
    width: 100%;
    color: black;
    bottom: 40%;
    justify-content: center;
}

header>.carousel>.carousel-inner>.principal>.botones>a {
    margin: 0px 10px;
    margin-right: 30px;
    padding: 10px 50px;
    border-radius: 20px 20px 20px 20px;
}

header>.carousel>.carousel-inner>.principal>p {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    width: 100%;
    font-style: italic;
    font-size: 50px;
    bottom: 50%;
    text-align: center;
    color: #fff;
}

/*---------MAIN---------*/

main .quienes-somos, main .objetivos, main .servicios, main .proyectos, main .contacto {
    padding: 50px 0;
}

main .quienes-somos .titulo, main .objetivos .titulo, main .servicios .titulo, main .proyectos .titulo, main .contacto .titulo {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #333333;
    padding-top: 20px;
    margin-bottom: 30px;
}

main .quienes-somos p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 16px;
    padding: 0 100px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 30px;
}

main .quienes-somos .primer-parrafo:first-letter {
    font-size: 200%;
    font-weight: 600;
    color: #333333;
}

main .quienes-somos .contenedor-m-v {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding: 0 100px;
    padding-top: 40px;
}

main .quienes-somos .contenedor-m-v .mision, main .quienes-somos .contenedor-m-v .vision {
    width: 48%;
}

main .quienes-somos .contenedor-m-v .mision img, main .quienes-somos .contenedor-m-v .vision img {
    width: 100%;
}

main .quienes-somos .contenedor-m-v .mision:hover img, main .quienes-somos .contenedor-m-v .vision:hover img {
    opacity: 0.8;
}

main .quienes-somos .contenedor-m-v .mision p, main .quienes-somos .contenedor-m-v .vision p {
    font-weight: 600;
    font-size: 12px;
    padding: 0;
    margin-left: 5px;
    text-align: left;
    text-align: justify;
}



main .quienes-somos .contenedor-m-v .mision .subtitulo, main .quienes-somos .contenedor-m-v .vision .subtitulo {
    padding-top: 20px;
    font-size: 18px;
    color: #333333;
    font-weight: 800;
    margin-left: 5px;
}

/**************************************/

main .objetivos {
    background: #f2f2f2;
    height: 500px;
}

main .objetivos .contenedor-objetivos {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

main .objetivos .contenedor-objetivos div {
    width: 20%
}

main .objetivos .contenedor-objetivos div img {
    width: 100%;
    height: 150px;
    transition: .6s;
}

main .objetivos .contenedor-objetivos div:hover img {
    width: 100%;
    height: 150px;
    transform: scale(1.1);
}

main .objetivos .contenedor-objetivos div p {
    padding-top: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

/***********************************/

main .servicios .contenedor-servicios {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}

main .servicios .contenedor-servicios .card {
    margin-bottom: 30px;
    background: #F0FBFF;
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

main .servicios .contenedor-servicios .card:hover{
    transform: scale(1.03);
}


main .servicios .contenedor-servicios .card .contenedor-imagen {
    overflow: hidden;
}

main .servicios .contenedor-servicios .card img {
    border-radius: 10px 10px 0 0;
    height: 200px;
    transition: .6s;
}

main .servicios .contenedor-servicios .card:hover img {
    transform: scale(1.1);
}

main .servicios .contenedor-servicios .card:hover {
    /* box-shadow: 10px 10px 5px #aaaaaa;*/
    -webkit-box-shadow: 10px 10px 58px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 58px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 58px -9px rgba(0,0,0,0.75);
}

main .servicios .contenedor-servicios .card .card-body h5 {
    font-weight: 600;
    font-size: 17px;
}

main .servicios .contenedor-servicios .card .card-body p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 14px;
}

main .proyectos, main .contacto {
    height: 500px;
}

main .proyectos {
    background: #F0FBFF;
    padding: 50px 100px;
}

main .proyectos .cliente{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 3px solid #777;
}

main .proyectos .cliente .tamano{
    font-size: 24px;
    margin-right: 5px;
}


main .proyectos .cliente a{
    float: right;
    font-size: 20px;
    color: #000;
}

main .proyectos .cliente:hover{
    border-bottom: 3px solid #0087bd;
}

/*****************************************/

footer .seccion1 {
    width: 100%;
    padding: 30px 0;
    background: #111;
    position: relative;
}

footer > .seccion1 >  a{
    position: absolute;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    right: 50px;
    font-size: 30px;
    background: #292b2c;
    border-radius: 50px 50px 0 0;
    color: #fff;
}

footer > .seccion1 >  a:hover{
    color: #0087bd;
}

footer .seccion2 {
    width: 100%;
    background: #292b2c;
}

footer .seccion2 .container p {
    color: #BBB;
    font-size: 14px;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

footer .seccion2 .container p a {
    text-decoration: none;
    color: #BBB;
}

footer .seccion2 .container p a:hover {
    text-decoration: underline;
    color: #BBB;
}

footer .seccion1 .container p {
    color: #BBB;
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}

footer .contenedor-redes {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contenedor-redes .contacto {
    color: #fff;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 34px;
    margin: 10px 10px;
}

footer .contenedor-redes .instagram a, 
footer .contenedor-redes .facebook a,
footer .contenedor-redes .whatsapp a,
footer .contenedor-redes .gmail a {
    text-decoration: none;
    color: #fff;
}

footer .contenedor-redes .whatsapp a:hover {
    color: #25d366;
}

footer .contenedor-redes .gmail a:hover {
    color: #ea4335;
}

footer .contenedor-redes .instagram a:hover {
    color: #3f729b;
}

footer .contenedor-redes .facebook a:hover {
    color: #3b5998;
}